#env template for easy usage
#PORT=3***
#DATABASE_URL=mongodb://localhost:27017/myapp
#API_KEY=your_secret_api_key_here
#MANIFEST_PATH=../your_manifest_file_path.json
#DEPENDENCY_GRAPH_PATH=../your_dependecy_file_path.json
#NODE_ENV=development
